.facts-title {

    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
    font-size: 80px;
    font-weight: bold; 
    margin:auto 10% 3% 10%;
}

hr{
    opacity: 50%;
}

.facts-text {
    

    padding-top: 3%;
    margin: auto 10% auto 10%;
    text-align: center;
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;

}

strong{
    font-size: 30px;
}

.facts-imgs{
    width: 500px;
    margin-top: 40px;
    border-radius: 20px;
}

body{
    padding-bottom: 5%;
}

@media (max-width: 1344px){
  .facts-title{
    font-size: 60px;
  }
}

@media (max-width: 1150px){
    body{
        padding-bottom: 60px;
    }
}

@media (max-width: 1008px){
    .facts-title{
        margin-top: 30px;
        font-size: 50px;
    }
}

@media (max-width: 840px){
    .facts-title{
        font-size: 40px;
    }
}




